@charset "utf-8";

/* Container */
.verticalslider {border: 1px solid #666666; overflow: hidden; width: 750px; margin-top: 25px;min-height:300px;}

/* Tabs */
.verticalslider_tabs {float: left;width: 250px;border-bottom: 1px solid #666666;}
.verticalslider_tabs, .verticalslider_tabs li{margin: 0px; padding: 0px;}
.verticalslider_tabs li{list-style-type: none;}
.verticalslider_tabs a:link, .verticalslider_tabs a:visited{display: block; width: 230px; height: 29px; padding: 14px 10px 6px 10px; background: url(../images/tabBG.jpg) bottom repeat-x;  background-color: #eeeeee;font-family: Georgia, "Times New Roman", Times, serif; font-size: 20px; font-weight: bold;color: #333333;  border-right: 1px solid #666666; border-top: 1px solid #666666; text-decoration: none;}
.verticalslider_tabs a:hover, .verticalslider_tabs a:active{ background: url(../images/tabHoverBG.jpg) bottom repeat-x; background-color: #fcfcfc;}
.verticalslider_tabs li:first-child a:link, .verticalslider_tabs li:first-child a:visited{border-top: none; height: 30px;}
.verticalslider_tabs .activeTab a:link, .verticalslider_tabs .activeTab a:visited{background: #ffffff; border-right: 1px solid #ffffff;}
.verticalslider_tabs .activeTab a:hover, .verticalslider_tabs .activeTab a:active{background: #ffffff; border-right: 1px solid #ffffff;}
.verticalslider .arrow {background: url(../images/arrow.png); width: 27px; height: 60px; position: absolute; z-index: 1000; margin-left: 250px; margin-top: -55px; }

/* Contents */
.verticalslider_contents li{margin: 0px; padding: 0px;width: 450px; overflow: hidden; padding: 0px; }
.verticalslider_contents li h2{font-family: Georgia, "Times New Roman", Times, serif, font-size: 15px; color: #333333;margin: 5px 20px; padding: 0px;}
.verticalslider_contents li p{ margin: 5px 20px; padding: 0px;color: #333333;font-family: Tahoma, Geneva, sans-serif; font-size: 13px; }
.verticalslider_contents{float: left;width: 500px;margin: 0px; padding: 0px;position: relative;}
.verticalslider_contents li{display: none;position: absolute;list-style-type: none;min-height: 250px;}
.verticalslider_contents .activeContent{display: block; padding: 10px 25px; }
.verticalslider_contents td{font-size: 16px; padding:10px 2px;}
.verticalslider_contents select{font-size:16px !Important; height:32px !Important; padding:5px !Important; width:250px;}
.verticalslider_contents input{font-size:16px !Important; height:32px !Important; padding:5px !Important; width:230px;}

